<% if animal.can_review? %>
  <%= form_for animal.review_route do |f| %>
    <% animal.review_points.each do |point| %>
            <%= f.radio_button :points, point %>
            <%= f.label :points, point, value: point %>
    <% end %>
       <%= f.submit %>
  <% end %>
<% else %>
  <span class="login_required">
      <%= t('.login_to_review') %>
  </span>
<% end %>