<% if @animal.errors.any? %>
	<div id="error_explanation" class="col-sm-offset-4 col-sm-6 alert alert-danger fade in">
		<h4><font color="red"><%= t 'general.form_error' %></font></h4>
	</div>
<% end %>

<%= form_for(@animal, html: {class: 'form-horizontal'}) do |f| %>
	<div class="field form-group">
		<%= f.label :name, class: 'col-sm-offset-2 col-sm-2 control-label' %>
		<div class="col-sm-4">
			<%= f.text_field :name, class: 'form-control' %>
				<font color="red"><%= error_tag @animal, :name %></font>
		</div>
	</div>
    <div class="field form-group">
        <%= f.label :picture, class: 'col-sm-offset-2 col-sm-2 control-label' %>
        <div class="col-sm-4">
            <%= f.file_field :picture %>
            <%= error_tag @animal, :picture %>
        </div>
    </div>
	<div class="field form-group">
		<%= f.label :specie, class: 'col-sm-offset-2 col-sm-2 control-label'  %>
		<div class="col-sm-2 radio-inline">
			<%= f.radio_button :specie, 'D' %>
			<%= label :specie_dog, 'Cachorro' %><br />
			<%= f.radio_button :specie, 'C' %>
			<%= label :specie_cat, 'Gato' %> 
			<font color="red"><%= error_tag @animal, :specie %></font>
		</div>
	</div>

	<div class="actions form-group">
		<div class="col-sm-offset-4 col-sm-2">
            <%= f.submit nil, class: 'btn btn-primary'%><br /><br />
		</div>
	</div>
<% end %>