<div class="col-sm-offset-4 col-sm-8">
    <h3><%= t '.title' %></h3>
</div>

<div class="container">
	<div class="col-sm-offset-3 col-sm-4">
        <ul class="list-group">
            <% @animals.each do |animal| %>
                <article class="list-group-item">
                    <h4><%= link_to animal.name, animal %></h4>
                    <p>
                        <%= t'.owner_html', owner: animal.usuario %>
                    </p>
                    <p>Espécie: 
		              <% if animal.specie == "D" %>
			             Cachorro
		              <% else %>
			             Gato
	                  <% end %>
                    </p>
        
                    <% if belongs_to_user(animal) %>
                    <ul class="container">
                        <li class="btn"><%= link_to t('.edit'), edit_animal_path(animal), class: 'btn btn-default' %></li>
                        <li class="btn"><%= link_to t('.destroy'), animal_path(animal), class: 'btn btn-default', method: :delete, data: {confirm: t('dialogs.destroy')}  %></li>
                    </ul>
                    <% end %>
                </article>
            <% end %>
        </ul>
    </div>
</div>
        