<% if @usuario.errors.any? %>
	<div id="error_explanation">
		<h3><font color="red">Não foi possível realizar esta ação devido os seguintes erros:</font></h3>
		<ul>
			<% @usuario.errors.full_messages.each do |message|%>
				<font color="red"><li><%= message %></li></font>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@usuario, html: {class: 'form-horizontal'}) do |f| %>
	<div class="field form-group">
		<%= f.label :nome, class: 'col-sm-offset-1 col-sm-2 control-label' %>
		<div class="col-sm-6">
			<%= f.text_field :nome, class: 'form-control' %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :sobrenome, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-6">
			<%= f.text_field :sobrenome, class: 'form-control' %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :idade, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-2">
			<%= f.number_field :idade, class: 'form-control' %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :sexo, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-2 radio-inline">
			<%= f.radio_button :sexo, 'M', :checked => true %>
			<%= label :sexo_M, 'Masculino'%>
			<%= f.radio_button :sexo, 'F' %>
			<%= label :sexo_F, 'Feminino'%> 
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :email, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-6">
			<%= f.email_field :email, class: 'form-control' %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :perfil, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-2 radio-inline">
			<%= f.radio_button :perfil, 'P', :checked => true %>
			<%= label :perfil_P, 'Pessoa Física'%>
			<%= f.radio_button :sexo, 'O' %>
			<%= label :perfil_O, 'ONG' %> 
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :endereco, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-6">
			<%= f.text_field :endereco, class: 'form-control' %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :telefone, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-6">
			<%= f.telephone_field :telefone, class: 'form-control' %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :senha, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-6">
			<%= f.password_field :password, class: 'form-control' %>
		</div>
	</div>
	<div class="field form-group">
		<%= f.label :confirmar_senha, class: 'col-sm-offset-1 col-sm-2 control-label'  %>
		<div class="col-sm-6">
			<%= f.password_field :password_confirmation, class: 'form-control' %>
		</div>
	</div>
	<div class="actions form-group">
		<div class="col-sm-offset-3 col-sm-2">
			<%= f.submit nil, class: 'btn btn-primary'%>
		</div>
	</div>
<% end %>