<div class="col-sm-offset-4 col-sm-4">
	<h2><%= t '.title', user_name: @usuario.nome_completo %></h2>
</div>

<div class="col-sm-offset-4 col-sm-4">
<ul class="list-group">
	<li class="list-group-item"><%= t '.idade', idade: @usuario.idade%></li>
	<li class="list-group-item">Sexo: 
		<% if @usuario.sexo == "F" %>
			Feminino
		<% else %>
			Masculino
	    <% end %>
	</li>
	<li class="list-group-item"><%= t '.email', email: @usuario.email%></li>
	<li class="list-group-item">Perfil: 
		<% if @usuario.perfil == "O" %>
			ONG
		<% else %>
			Pessoa Física
	    <% end %>
	</li>
	<li class="list-group-item"><%= t '.endereco', endereco: @usuario.endereco%></li>
	<li class="list-group-item"><%= t '.telefone', telefone: @usuario.telefone%></li>
</ul>
</div>

<div class="col-sm-offset-4 col-sm-4">
	<%= link_to t('.edit'), edit_usuario_path(@usuario), class: 'btn btn-primary' %>
    <%= link_to t('links.back'), root_path, class: 'btn btn-success'  %>
</div>