<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel panel-heading"><h2><%= t '.title', user_name: @usuario.nome_completo %></h2>
                </div>
                
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <td><%= t '.idade', idade: @usuario.idade%></td>
                        </tr>
                        <tr><td>Sexo: 
                            <% if @usuario.sexo == "F" %>
                                Feminino
                            <% else %>
                                Masculino
                            <% end %>
                        </td></tr>
                        <tr><td><%= t '.email', email: @usuario.email%></td></tr>
                        <tr><td>Perfil: 
                            <% if @usuario.perfil == "O" %>
                                ONG
                            <% else %>
                                Pessoa Física
                            <% end %>
                        </td></tr>
                        <tr><td><%= t '.endereco', endereco: @usuario.endereco%></td></tr>
                        <tr><td><%= t '.telefone', telefone: @usuario.telefone%></td></tr>
                    </table>
                    </div>
                <div class="panel-footer">
                    <p class="pull-left"><%= render partial: 'review', object: @usuario_review %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-offset-4 col-sm-4">
    <% if user_signed_in? && current_user == Usuario.find(params[:id]) %>
	   <%= link_to t('.edit'), edit_usuario_path(@usuario), class: 'btn btn-primary' %>
    <%= link_to t('.delete'), usuario_path(@usuario), class: 'btn btn-danger', method: :delete, data: {confirm: t('dialogs.destroy')} %>
    <% end %>
    <%= link_to t('links.back'), root_path, class: 'btn btn-success' %>
</div>